{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>

  <title>
    Dia Aberto {% block title %} {% endblock title %}
 
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}"

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="1; {% url 'utilizadores:rejeitar-utilizador' id %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
     <link rel="icon" href="{% static 'img/logo.png' %}"/>
</head>
<body>
<div class="pageloader is-active"><span class="title">{{msg}}</span></div>


</body>
</html>