
{% extends 'evento/app.html' %}

{% block details_content %}

<table>
    <tbody>
        <tr>
            <td><strong>Nome Próprio:</strong></td>
            <td>{{row.record.first_name}}</td>
        </tr>
        <tr>
            <td><strong>Apelido:</strong></td>
            <td>{{row.record.last_name}}</td>
        </tr>
        <tr>
            <td><strong>Username:</strong></td>
            <td>{{row.record.username}}</td>
        </tr>
        <tr>
            <td><strong>Contacto:</strong></td>
            <td>{{row.record.contacto}}</td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td>{{row.record.email}}</td>
        </tr>
    </tbody>
</table>

{% endblock details_content %}