{% extends 'evento/base.html' %}



{% block title %}- Login{% endblock title %}



{% block content %}

    <div>
        <div style="margin-bottom:3%;margin-top:3%;">
            <h2 class="title is-4" style="text-align: center;">Login</h2>
        </div>


        <div style="margin-left:35%; margin-right:35%">
            <div>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">{{ form.email.label }}</label>
                                <div class="control">
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">{{ form.password1.label }}</label>
                                <div class="control">
                                    {{ form.password1 }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:7%;text-align: center;position:center;">
                        <button type="submit" class="button is-success is-outlined">
                            <span>Confirmar</span>
                        </button>
                    </div>
                </form>
                <div style="margin-top:6%;text-align: center;position:center;">
                    <a href="#"><strong>Esqueceu-se da conta?</strong></a>
                </div>
            </div>

        </div>
    </div>

    <div>
        {% if form.non_field_errors %}
            <p>{{ form.non_field_errors }}</p>
    {% endif %}
    </div>

{% endblock content %}

</div>