{% extends 'evento/bulma_table_details.html' %}
{% load poll_extras %}

{% block details_content %}

<table>
    <tbody>
        <tr>
            <td><strong>Capacidade:</strong></td>
            <td>{{row.record.capacidade}}</td>
        </tr>
        <tr>
            <td><strong>Adequado para mobilidade reduzida:</strong></td>
            <td>{{row.record.mobilidade_reduzida}}</td>
        </tr>
        <tr>
            <td><strong>Username:</strong></td>
            <td>{{row.record.username}}</td>
        </tr>
        <tr>
            <td><strong>Contacto:</strong></td>
            <td>{{row.record.contacto}}</td>
        </tr>
 
        <tr>
            <td><strong>Edificio:</strong></td>
            <td>{{row.record.fotos}}</td>
        </tr>

    </tbody>
</table>

{% endblock details_content %}