{% extends 'evento/bulma_table_details.html' %}
{% load poll_extras %}

{% block details_content %}

<table>
    <tbody>
        <tr>
            <td><strong>Capacidade:</strong></td>
            <td>{{row.record.capacidade}} pessoas</td>
        </tr>
        <tr>
            <td><strong>Adequado para as pessoas com a mobilidade reduzida:</strong></td>
            <td>{{row.record.mobilidade_reduzida|yesno:"Sim,Não"}}</td>
        </tr>
        {% if row.record.fotos.url is not None %}
        <tr>
            <img src="{{row.record.fotos.url}}" alt="static/img/home-banner-2020-02-min.jpg">    
        </tr>
        {% endif %} 

    </tbody>
</table>


{% endblock details_content %}