{% extends 'evento/bulma_table_details.html' %}
{% load poll_extras %}

{% block details_content %}

<table>
    <tbody>
        <tr>
            <td><strong>Capacidade:</strong></td>
            <td>{{row.record.capacidade}}</td>
        </tr>
        <tr>
            <td><strong>Adequado para mobilidade reduzida:</strong></td>
            <td>{{row.record.mobilidade_reduzida}}</td>
        </tr>
 
        <tr>
            <img src="{{row.record.fotos.url}}" alt="">     
        </tr>

    </tbody>
</table>


{% endblock details_content %}