{% extends 'evento/app.html' %}




{% block content %}

<div>
    <div style="margin-bottom:3%;margin-top:3%;">
        <h2 class="title is-4" style="text-align: center;">Inserir Sala</h2>
    </div>


    {% if msg %}
    <p style="color: #ff0000; text-align:center; margin-bottom:4%">{{error}}</p>
    {% endif %}



    <div style="margin-left:35%; margin-right:35%">
        <article class="message is-info">
            <div class="message-header">


            </div>
            <div class="message-body">

                <div class="control is-clearfix">
                    <form action="{% url 'criar_sala' %}" method="POST" enctype="multipart/form-data" class="form">{% csrf_token %}

                        <fieldset class="form">
                            {{ form.capacidade.label}}
                            {{ form.capacidade }}

                            <div style="margin-top: 2%;">
                               
                                {{ form.fotos.label}}
                                {{ form.fotos }}</div>
                            

                            <div style="margin-top: 2%; margin-bottom: 2%;">{{ form.nome.label}}
                                 {{ form.nome }}
                            </div>
                            


                            {{ form.mobilidade_reduzida.label}}
                            <div style="margin-left: 35%; margin-top: -3.5%;">{{ form.mobilidade_reduzida }}</div>
                            
                            
                            
                            <div style="margin-top: 2.1%;">{{ form.edificioid.label}}
                                {{ form.edificioid }}</div>
                            
                            
                        </fieldset>


                        <div style="margin-top:7%;text-align: center;position:center;">
                            <button type="submit" class="button is-info is-outlined">
                                <span>Continuar</span>
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </article>
    </div>
</div>
{% if form.email.errors %}
<div style="margin-left:30%;margin-right:30%; margin-top:5%">
    <div style="margin-top:7%;text-align: center;position:center;">
        <article class="message is-danger">
            <div class="message-body">
                <p style="text-align: center;">
                    <strong>{{ form.email.errors }}</strong>
                </p>
            </div>
        </article>
    </div>
</div>

{% endif %}
{% endblock content %}

</div>