{% extends 'evento/base.html' %}
{% load poll_extras %}



{% block title %}- Alterar Perfil{% endblock title %}


{% block content %}
    <div style="margin-top:3%;">
        <h2 class="title is-4" style="text-align: center;">Mudar Evento de {{ request.session.nome_completo }} </h2>
    </div>

    <div>
        <form method="post" action="{% url 'mudar_evento2' %}">
            {% csrf_token %}

            <div style="padding: 1rem 2vw 0px;">
                <hr>
                <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem;">
                </h2>
                {% for key, value in  respostas.items %}
                    <div class="row">
                        <div class="column">
                            <div class="field">
                                <label class="label">{{ key }}</label>
                                {% if  value.perguntaid.tipo_de_perguntaid.nome == 'Resposta Aberta' %}
                                <div class="control is-clearfix">
                                    <textarea disabled style="resize: none; background: white; color: black; pointer-events: none"
                                              class="textarea">{{ value.texto }}</textarea>
                                </div>
                                {% else %}
                                <div class="control is-clearfix">
                                    {% if 'Duração' in key %}
                                        <input disabled name="first_name" class="input" id="id_first_name"
                                               value="{{ value.texto|converter }}"
                                               style="background: white; color: black; border: none; pointer-events: none"
                                               type="text" maxlength="255">
                                        <!----> <!----> <!---->
                                    {% else %}
                                        <input disabled name="first_name" class="input" id="id_first_name"
                                               value="{{ value.texto }}"
                                               style="background: white; color: black; border: none; pointer-events: none"
                                               type="text" maxlength="255">
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                <!---->
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <h1 class="label"> Estado do Evento:</h1>
                <div style="margin-left: 2%; margin-top: 2%; height: 30%">
                    {% if evento.aprovado == '0' %}
                        <input type="radio" id="{{ evento.id }}" name="decision" value="Não aprovado" checked>
                        <input hidden name="idevento" value="{{ evento.id }}">
                        <label style="margin-left: 1%; margin-top: -0.5%">Não Aprovado<br></label>
                        <input type="radio" id="{{ evento.id }}" name="decision" value="Aprovado">
                        <label style="margin-left: 1%; margin-top: -0.5%">Aprovado</label>
                    {% else %}
                        <input type="radio" id="{{ evento.id }}" name="decision" value="Não aprovado">
                        <input hidden name="idevento" value="{{ evento.id }}">
                        <label style="margin-left: 1%; margin-top: -0.5%">Não Aprovado<br></label>
                        <input type="radio" id="{{ evento.id }}" name="decision" value="Aprovado" checked>
                        <label style="margin-left: 1%; margin-top: -0.5%">Aprovado</label>
                    {% endif %}

                </div>
                <hr>
            </div>

            <div class="columns">

                <hr>
            </div>
            <div style="margin-top:2%;text-align:center;position:center;">
                <button type="button" value="Voltar" class="button is-outlined" style="margin-right:5%"
                        onclick="voltar();">Voltar
                </button>
                <button style="" type="submit" class="button is-success is-outlined" >
                    <span>Confirmar</span>
                </button>
            </div>
        </form>
    </div>
    </div>



    {% if msg %}
        <div style="margin-left:30%;margin-right:30%; margin-top:%">
            <div style="margin-top:2%;text-align: center;position:center;">
                <article class="message is-danger">
                    <div class="message-body">
                        <p style="text-align: center;">
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p style="color: #ff0000; text-align:center">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        {% for error in erros %}
                            <p style="color: #ff0000; text-align:center">{{ error }}</p>
                        {% endfor %}


                        {% for field in form %}
                            {% for error in field.errors %}
                                {% if field.name == "email" %}
                                    <p style="color: #ff0000;">{{ error }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </p>
                    </div>
                </article>
            </div>
        </div>
    {% endif %}


{% endblock content %}

</div>



{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>

        function voltar() {
            location.href = "{% url 'consultar' %}"
        }


        {% if registo == 2 %}
            $("#id_faculdade").change(function () {
                var url = $("#ProfessorUniversitarioRegisterForm").attr("data-departamentos-url");
                var faculdadeid = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        'faculdade': faculdadeid
                    },
                    success: function (data) {
                        $("#id_departamento").html(data);
                    }
                });

            });
        {% elif registo == 3 %}
            $("#id_faculdade").change(function () {
                var url = $("#CoordenadorRegisterForm").attr("data-departamentos-url");
                var faculdadeid = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        'faculdade': faculdadeid
                    },
                    success: function (data) {
                        $("#id_departamento").html(data);
                    }
                });

            });
        {% elif registo == 4 %}
            $("#id_faculdade").change(function () {

                var url = $("#ColaboradorRegisterForm").attr("data-cursos-url");
                var faculdadeid = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        'faculdade': faculdadeid
                    },
                    success: function (data) {
                        $("#id_curso").html(data);

                    }
                });

            });
            $("#id_faculdade").change(function () {

                var url = $("#ColaboradorRegisterForm").attr("data-departamentos-url");
                var faculdadeid = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        'faculdade': faculdadeid
                    },
                    success: function (data) {
                        $("#id_departamento").html(data);

                    }
                });

            });
        {% endif %}
    </script>
{% endblock scripts %}
