{% extends 'evento/app.html' %}




{% block content %}

<div>
    <div style="margin-bottom:3%;margin-top:3%;">
        <h2 class="title is-4" style="text-align: center;">Selecionar Perguntas</h2>
    </div>


    {% if msg %}
    <p style="color: #ff0000; text-align:center; margin-bottom:4%">{{error}}</p>
    {% endif %}



    <div style="margin-left:35%; margin-right:35%">
        <article class="message is-info">
            <div class="message-header">


            </div>
            <div class="message-body">

                <div class="control is-clearfix">
                    <form action="{% url 'criar_formulario' %}" method="POST" enctype="multipart/form-data" class="form">{% csrf_token %}

                        <fieldset class="form">
                            
                            <div style="margin-top: 2.1%;">{{ form }}
                                </div>

                            
                            
                            
                        </fieldset>


                        <div style="margin-top:7%;text-align: center;position:center;">
                            <button type="submit" class="button is-info is-outlined">
                                <span>Continuar</span>
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </article>
    </div>
</div>
{% if form.email.errors %}
<div style="margin-left:30%;margin-right:30%; margin-top:5%">
    <div style="margin-top:7%;text-align: center;position:center;">
        <article class="message is-danger">
            <div class="message-body">
                <p style="text-align: center;">
                    <strong>{{ form.email.errors }}</strong>
                </p>
            </div>
        </article>
    </div>
</div>

{% endif %}
{% endblock content %}

</div>