{% extends 'evento/base.html' %}



{% block title %}- Registar{% endblock title %}


{% block content %}

    <div>


        <div style="padding: 3rem 2vw 1rem;">

            <form method="post">
                {% csrf_token %}
                <form method="post" action="{% url 'responde' id=recetor.id%}">
                    <label>Para:</label>
                    <input style="margin-bottom: 2%" class="input" disabled name="{{ recetor.emissor.id }}" value="{{ recetor.emissor.email }}">
                    <label>Mensagem:</label>
                    <textarea class="textarea" name="mensagem futura" style="resize: none; margin-bottom: 2%"></textarea>
                    <div style="margin-left: 80%;">
                        <button type="button" value="Voltar" class="button is-outlined" style="margin-right:5%"
                                onclick="voltar()">Voltar
                        </button>
                        <button style="" type="submit" class="button is-success is-outlined">
                            <span>Confirmar</span>
                        </button>
                    </div>
                </form>
                <div>
                </div>
            </form>
        </div>
    </div>


    </p>
    </div>
    </article>
    </div>
    </div>

    </div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
