{% extends 'evento/app.html' %}
    {% block content %}

<div>
    <div style="margin-bottom:3%;margin-top:3%;">
        <h2 class="title is-4" style="text-align: center;">Eventos</h2>
    </div>


    {% if msg %}
    <p style="color: #ff0000; text-align:center; margin-bottom:4%">{{error}}</p>
    {% endif %}

    {% for evento in eventos %}
        <div class='media-body'>
            <div class='article-metadata'>
                <a href="#"> {{ evento.proponenteutilizadorid }} </a>
                <small class="text-muted"> {{ evento.dia }} </small> 
        </div>
    {% endfor %}

</div>

    {% endblock content%}