{% extends 'evento/base.html' %}
{% load django_tables2 %}
{% load static %}

{% block title %}- Consultar Formulários
{% endblock title %}

{% block content %}
<div class="columns">
    <div class="column">
        <nav aria-label="breadcrumbs" class="breadcrumb">
            <ul>
                <li><a href="{% url 'evento-home' %}">Início</a></li>
                <li class="is-active"><a href="{% url 'consultar-formularios' %}">Formulários</a>
                </li>
            </ul>
        </nav>
        <a href="{% url 'criar-formulario' %}">
            <button type="button" class="button is-success is-outlined" style="margin-bottom: 1rem;"><span
                    class="icon is-small"><i class="mdi mdi-plus"></i></span> <span>Criar Formulário</span>
            </button>
        </a>

        

        {% render_table table %}
    </div>
</div>
{% endblock content %}